@keyframes navigacija {
  0% {
    opacity: -1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: -1;
  }
  100% {
    opacity: 1;
  }
}

.navigation li {
  animation: navigacija 1s forwards 0.1s linear;
}
.gogogo {
  animation: navigacija 1s forwards 0.1s linear;
}
.red {
  animation: navigacija 1s forwards 0.1s linear;
}
.blue {
  animation: navigacija 1s forwards 0.1s linear;
}
.white {
  animation: navigacija 1s forwards 0.1s linear;
}

@keyframes pozadina {
  from {
    background-position: left bottom;
  }
  to {
    background-position: right 0 top 30%;
  }
}
.wash {
  animation: pozadina 6s ease 0.2s infinite alternate;
}
