* {
  box-sizing: border-box;
}
html, body {
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}
.main_header {
  background-color: #403c4770;
}
.navigation {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.navigation li {
  list-style: none;
  padding: 10px 5px;
  margin: 5px 10px;
  display: inline-block;
}
.navigation li a:hover {
  text-shadow: 0px -2px 0px #cc0f3898, 0px 5px 0px #fdfefe9a,
    0px 2px 0px #0ffbf9f2;
  font-weight: 300;
  cursor: none;
  display: inline-block;
}
.navigation li a {
  text-decoration: none;
  padding: 10px 0;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    -6px -6px 3px -2px rgba(0, 0, 0, 0);
  letter-spacing: 5px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.863);
  font-size: 15px;
  background-color: inherit;
  display: inline-block;
}

.picture {
  background: linear-gradient(
      to right top,
      hsla(0, 0%, 100%, 0.342),
      hsla(0, 0%, 47%, 0.329)
    ),
    url(images/frontpage.jpg);
  background-size: cover;
  background-position: center;
}
.footer {
  margin: 0;
  padding: 30px;
  width: 100%;
  background-color: #3e3c41;
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 400;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
}
.footer p {
  margin: 0;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.footer p .red {
  color: #cc0f39;
  position: absolute;
  top: 12px;
}
.footer p .white {
  color: #fdfefe;
  z-index: 10;
  position: absolute;
  top: 14px;
}
.footer p .blue {
  color: #0ffbf9;
  position: absolute;
  top: 16px;
}
